input{
    border-radius: 6px;
    border-width: thin;
    padding: 6px;
    background-color: white;
    margin-top: 8px !important;
    margin-bottom: 8px !important;

} 
button{
    font-size: 16pt;
    padding: 16px;
    background-color: grey;
    color: white;
    border-radius: 6px !important;
}
.mainBlock{
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(76, 194, 210);
    padding: 20px;
    width: 100%;
    max-width: 350px;
    margin: 100px auto;
    display:table;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.bgForLoginAndReg{
    background-image: url(../image/logiPage.jpeg);
}
